<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Trucker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="stylesheets/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/animate.css">
    
    <link rel="stylesheet" href="stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="stylesheets/owl.theme.default.min.css">
    <link rel="stylesheet" href="stylesheets/magnific-popup.css">

    <link rel="stylesheet" href="stylesheets/aos.css">

    <link rel="stylesheet" href="stylesheets/ionicons.min.css">

    <link rel="stylesheet" href="stylesheets/bootstrap-datepicker.css">
    <link rel="stylesheet" href="stylesheets/jquery.timepicker.css">

    
    <link rel="stylesheet" href="stylesheets/flaticon.css">
    <link rel="stylesheet" href="stylesheets/icomoon.css">
	<link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/main"><span>TRUCKER</span></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><a href="/main" class="nav-link">메인</a></li>
	          <li class="nav-item"><a href="/pricing" class="nav-link">토큰구매</a></li>
	          <li class="nav-item"><a href="/contact" class="nav-link">화물등록</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    
    <div class="hero-wrap" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text justify-content-start align-items-center">
          <div class="col-lg-6 col-md-6 ftco-animate d-flex align-items-end">
          	<div class="text">
	            <h1 class="mb-4">지금 <span>화물을 등록하세요</span></h1>
				<p style="font-size: 18px;">트럭 대기중</p>
	            <a href="https://vimeo.com/45830194" class="icon-wrap popup-vimeo d-flex align-items-center mt-4">
	            	<div class="icon d-flex align-items-center justify-content-center">
	            		<span class="ion-ios-play"></span>
	            	</div>
	            	<div class="heading-title ml-5">
		            	<span>트러커 동영상 보기</span>
	            	</div>
	            </a>
            </div>
          </div>
      </div>
	</div>
	
    <section class="ftco-section testimony-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
          	<span class="subheading">소개</span>
            <h2 class="mb-3">트러커</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url(images/person_1.jpg)">
                  </div>
                  <div class="text pt-4">
                    <p class="mb-4">개발존나잘하고 디자인도 오지게잘함 ㅋㅋ</p>
                    <p class="name">박경재</p>
                    <span class="position">팀장</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url(images/person_2.jpg)">
                  </div>
                  <div class="text pt-4">
                    <p class="mb-4">갑자기 리액트 프론트 마스터함 ㅋㅋ</p>
                    <p class="name">오현준</p>
                    <span class="position">Interface Designer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url(images/person_3.jpg)">
                  </div>
                  <div class="text pt-4">
                    <p class="mb-4">갑자기 프론트 백엔드 마스터함 ㅋㅋ</p>
                    <p class="name">강서현</p>
                    <span class="position">UI Designer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">About Trucker</h2>
              <p>트러커는 블록체인을 이용한 차주와 화주와의 신뢰성있는 연결을 지원합니다.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">연락하고 싶다면?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">경기도 광명시 하안로</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">02-897-6161</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">controlexp@naver.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib (비영리적인 목적으로 사용합니다.)</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/jquery-migrate-3.0.1.min.js"></script>
  <script src="javascripts/popper.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script src="javascripts/jquery.easing.1.3.js"></script>
  <script src="javascripts/jquery.waypoints.min.js"></script>
  <script src="javascripts/jquery.stellar.min.js"></script>
  <script src="javascripts/owl.carousel.min.js"></script>
  <script src="javascripts/jquery.magnific-popup.min.js"></script>
  <script src="javascripts/aos.js"></script>
  <script src="javascripts/jquery.animateNumber.min.js"></script>
  <script src="javascripts/bootstrap-datepicker.js"></script>
  <script src="javascripts/jquery.timepicker.min.js"></script>
  <script src="javascripts/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="javascripts/google-map.js"></script>
  <script src="javascripts/main.js"></script>
    
  </body>
</html>